version: "3.9"

services:
  server:
    build: ./src/server
    container_name: radiologger-server
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/radiologger
      - SESSION_SECRET=supersecret
      - API_SECRET=anothersecret
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: radiologger-mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo_data:
