:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --card-margin: 10px;
  --card-width: 320px;
  --card-height: 420px;
  --body-bg-light: #fff;
  --body-color-light: #000;
  --primary-color-light: #007bff;
  --body-bg-dark: #333;
  --body-color-dark: #fff;
  --primary-color-dark: #6c757d;
  --body-bg: var(--body-bg-light);
  --body-color: var(--body-color-light);
  --primary-color: var(--primary-color-light);
}

:root.dark {
  --primary-color: #6c757d;
  --secondary-color: #007bff;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body.dark-mode {
  --body-bg: #333;
  --body-color: #fff;
  --primary-color: #6c757d;
}

.col {
  margin: 5px;
}

.navbar {
  height: 60px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.offcanvas {
  width: 250px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.container-fluid {
  position: absolute;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
}

.card {
  margin: var(--card-margin);
  width: var(--card-width);
  height: var(--card-height);
}

.card-img-top {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
}

.button:hover {
  background-color: var(--secondary-color);
}