:root {
  --card-margin: 10px;
  --card-width: 320px;
  --card-height: 420px;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.navbar {
  height: 60px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.offcanvas {
  width: 250px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
}

.card {
  margin: var(--card-margin);
  width: var(--card-width);
  height: var(--card-height);
}

.card-img-top {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
