html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#141e30, #243b55);
  text-align: center;
}

.login_box {
  background-color: rgba(0, 0, 0, 0.5); /* Fixed RGBA */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login_box h2 {
  margin-bottom: 30px;
  color: #fff;
}

.user_box {
  position: relative;
  margin-bottom: 30px;
}

.user_box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
}

.user_box label {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.3s ease all;
}


.user_box input:focus ~ label,
.user_box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

button {
  background-color: #03e9f4;
  border: none;
  padding: 12px 24px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #029dbf;
}

@media (max-width: 480px) {
  .login_box {
    width: 90%;
    padding: 30px;
  }
}
