* {
  margin: 0;
  padding: 0;
}

a,
em {
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: blue;
  background-size: cover;
  font-family: "Fira Code";
}

.container {
  width: 700px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .3);
  display: flex;
  transition: width .3s ease-in-out;
}

.tabs {
  width: 200px;
  height: 100%;
  font-size: 1em;
  transition: all .3s ease-in-out;
}

.tabs ul {
  height: inherit;
  list-style: none;
  padding: 60px 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .4);
  border-right: 1px solid rgba(0, 0, 0, .4);
}

.tabs li {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin-top: 50px;
  background: rgba(51, 78, 153, .8);
  cursor: pointer;
  transition: background .3s;
}

.tabs li:hover {
  background: rgba(255, 99, 71, .8);
}

.tabs li a {
  display: block;
  line-height: 50px;
  text-align: center;
}

.forms {
  width: 500px;
  height: 100%;
  transition: width .3s ease-in-out;
}

.forms p {
  color: white;
  font-size: 1.5em;
  text-align: center;
  transition: all .3s ease-in-out;
}

.register,
.login,
.reset {
  display: block;
  position: absolute;
  width: 500px;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 20px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  /* Your styles for 1366px x 768px laptop */
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  /* Your styles for 375px x 667px Apple iPhone */
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  /* Your styles for 360px x 640px Android phone */
}
