* {
	margin: 0;
	padding: 0;
}

a,
em {
	color: white;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: blue;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Fira Code";
}

.container {
	width: 700px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, .3);
	display: -webkit-box;
	transition: width .3s ease-in-out;
}

.tabs {
	width: 200px;
	height: 100%;
	font-size: 1em;
	transition: all .3s ease-in-out;
}

.tabs ul {
	height: inherit;
	list-style: none;
	padding: 60px 20px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .4);
	border-right: 1px solid rgba(0, 0, 0, .4);
}

.tabs li {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	margin-top: 50px;
	background: rgba(51, 78, 153, .8);
	cursor: pointer;
	transition: background .3s;
}

.tabs li:hover {
	background: rgba(255, 99, 71, .8);
}

.tabs li a {
	display: block;
	line-height: 50px;
	text-align: center;
}

.forms {
	width: 500px;
	height: 100%;
	transition: width .3s ease-in-out;
}

.forms p {
	color: white;
	font-size: 1.5em;
	text-align: center;
	transition: all .3s ease-in-out;
}

.register,
.login,
.reset {
	display: 'block';
	position: absolute;
	width: 500px;
	height: 100%;
	box-sizing: border-box;
	padding: 40px 20px;
}

.hidden {
	display: none;
}

.container form {
	padding: 45px 0px;
}

input {
	background: rgba(0, 0, 0, .2);
	font-size: 1em;
	border: 0;
	outline: none;
	color: white;
	transition: width .2s linear, border-bottom .2s linear;
}

input:active,
input:focus {
	border-bottom: 4px solid royalblue;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 460px;
	height: 40px;
	height: 50px;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

input[type="submit"] {
	padding: 10px;
	width: 100px;
	background: royalblue;
	border: 0px;
	color: white;
	float: right;
	cursor: pointer;
	transition: background .3s;
}

input[type="submit"]:hover {
	background: rgba(51, 78, 153, .8);
}

@media (max-width: 900px) {
	.container {
		width: 525px;
	}

	.tabs {
		width: 150px;
		font-size: .9em;
	}

	.tabs ul {
		padding: 60px 15px;
	}

	.forms {
		width: 375px;
	}

	.forms p {
		font-size: 1.2em;
	}

	.register,
	.login,
	.reset {
		width: 375px;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		width: 335px;
	}
}

@media (max-width: 600px) {}