<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" style="height: 60px;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDrawer"
      aria-controls="offcanvasDrawer">
      <span class="navbar-toggler-icon fa fa-bars"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="../icons/radio_64x64.png" alt="Logo" width="30" height="24">
    </a>
    <div class="navbar-nav">
      <button id="themeToggle" class="btn">
        <i class="fas fa-moon"></i>
      </button>
      <button class="btn">
        <i class="fas fa-bell"></i>
      </button>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          <i class="fas fa-user"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="./profile/profile.html">Profile</a></li>
          <li><a class="dropdown-item" href="./settings/settings.html">Settings</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
