body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.navbar {
  height: 60px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.offcanvas {
  width: 250px;
}

.card {
  width: 320px;
  height: 420px;
}

.card-img-top {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
